<p>
    <strong>Invite a user!</strong>
</p>
<table>
    <tbody>
        <% @users.each do |user| %>
        <% @user = user %>
        <tr>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.email %></td>
            <td><%= render 'add' %></td>
        </tr>
        <% end %>
    </tbody>
</table>