<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    Congratulations, <%= @user.first_name %><%= @user.last_name %>!
    
    Team <%= @team.name %> wants you to help them save energy! To join, just click this link.
    
    Come join us!
  </body>
</html>
