<%= form_for(@invitation, url: invitations_path) do |f| %>
<div><%= hidden_field :team_id, :value => @invitation.sender_id %></div>
<% f.label :email %>
<% f.email_field :email %>
<%= f.submit 'Invite!' %>
<% end %>
