<%= form_for(@city_building) do |f| %>
  <% if @city_building.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@city_building.errors.count, "error") %> prohibited this city_building from being saved:</h2>

      <ul>
      <% @city_building.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
