<div class="hero-banner"  style="height: 450px; margin: 0; padding: 0; ">

<div class="inner-hero row" style="position: relative; margin: 50px auto; background-color: #fff; height: auto">
    <div class="large-9 columns"> <%=image_tag('solar-power.jpg') %> </div>
    <div class="large-3 columns">
        <p>Short Snappy description</p>
        <p>Value Prop</p>
        <a href="btn">Sign up with google</a>
    </div>

    </div>

</div>
