// color names
$black-purple:          #24152b;
$midnight-blue:         #20243c;
$kelly-green:           #4fc014;
$sky-blue:              #1fafd3;
$lt-sky-blue:           #6ed1ea;
$carrot-orange:         #f1951e;
$deep-lilac-purple:     #865ebc;
$smoke-grey:            #e1dfe2;
$pearl-grey:            #b0b0bd;
$white-grey:            #f3f3f3;
$white:                 #ffffff;
$sunset-red:            #ff4d4d;
$rosy-white:            #fdf4f4;


// functional names
$default-border-color:  $smoke-grey;
$default-link-color:    $sky-blue;

$focused-border-color:  $pearl-grey;

$primary-color:         $kelly-green;
$accent-color:          $sky-blue;
$accent-color-muted:    $lt-sky-blue;

$success-color:         $kelly-green;
$warning-color:         $sunset-red;
$action-color:          $carrot-orange;

$body-text-color:       $black-purple;
$background-highlight:  $white-grey;