// color names
$black-current-purple:  #24152b;
$midnight-blue:         #20243c;
$kelly-green:           #4fc014;
$summer-sky-blue:       #1fafd3;
$carrot-orange:         #f1951e;
$deep-lilac-purple:     #865ebc;
$white-lilac-grey:      #e1dfe2;
$pearl-grey:            #b0b0bd;
$white-smoke-grey:      #f3f3f3;


// functional names
$default-stroke:        $white-lilac-grey;
$emphasis-stroke:       $pearl-grey;
$primary-color:         $kelly-green;
$body-text-color:       $black-current-purple;