// Place all the styles related to the Bills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import '../variables/*';

.billFields {
	margin: 0px 50px;
}

.ui-datepicker-title {
	background: white;
}

#datepicker {
	width: 300px;
}

#ui-datepicker-div {
  background-color: $white;
}

#usage {
	width: 300px;
}
#occupants {
	width: 300px;
}
