@import '../variables/*';

$dark-background: #24152b;
$green: #44c400;
$blue: #1fafd3;
$purple: #865ebc;

.top-bar {
  border-bottom: $border-default;
  ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    a {
      display: inline-block;
    }
  }
}

.top-bar li {
  padding: 22px 16px;
  float: left;
}

.top-bar li.nav-right {
  float: right;
}

.user-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 130px;
}

li.logo {
  width: 200px;
  padding: 8px;
  a {
    display: inline;
  }
  svg {
    transform: translate(1%,5%);
  }
}

.dropdown-arrow {
  fill: $sky-blue;
  height: 18px;
  height: 18px;
  transform: translate(0%, -12%);
}

div.dropdown {
  background-color: white;
  position: absolute;
  margin-top: 22px;
  border: 1px solid $white-lilac-grey;
  min-width: 166px;
  a {
    padding: 12px 0 12px 6px;
    display: block;
  }
}
