// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import '../variables/*';

#showImage {
  margin-left: 19em;
  margin-top: .75em;
}

#teamButs {
  margin-left: 19em;
  margin-top: .75em;
  margin-bottom: 10em;
}
