// Place all the styles related to the Units controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ui-autocomplete {
  width: 400px;
  border-radius: 5px;
  list-style-type: none;
  padding: 0;
  
  li {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
  }

  li.ui-state-focus {
    background: #e1dfe2;
    border-radius: 5px;
    border-style: none;
  }
}
