// Place all the styles related to the Bills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.billFields {
	margin: 0px 50px;
}

#datepicker {
	width: 300px;
}
#amount {
	width: 300px;
}
#occupants {
	width: 300px;
}