.display-none {
  display: none;
}

.clearfix {
  overflow: auto;
}

.ui-datepicker-title {
  background: white;
}

#datepicker {
  width: 300px;
}

#ui-datepicker-div {
  background-color: white;
}

#usage {
  width: 300px;
}
#occupants {
  width: 300px;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.top-bar {
  ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    a {
      display: inline-block;
    }
  }
}

.top-bar li {
  padding: 20px 16px;
  float: left;
}

.top-bar li.nav-right {
  float: right;
}

.user-name {
  overflow: hidden;
}

li.logo {
  width: 200px;
  padding: 8px;
  a {
    display: inline;
  }
  svg {
    transform: translate(1%,5%);
  }
}

.dropdown-arrow {
  fill: #1fafd3;
  height: 18px;
  height: 18px;
  transform: translate(0%, -12%);
}

div.dropdown {
  background-color: white;
  position: absolute;
  right: 0;
  margin-top: 20px;
  border: 1px solid #e1dfe2;
  min-width: 160px;
  a {
    padding: 12px 0 12px 8px;
    display: block;
  }
}

#showImage {
  margin-left: 19em;
  margin-top: .75em;
}

#teamButs {
  margin-left: 19em;
  margin-top: .75em;
  margin-bottom: 10em;
}



.key-features {
  width: 700px;
  height: 500px;

  p{
    text-align: center;
  }

  .pad {
    padding-top: 70px;

    }

  #ener {
    margin-top: 6px;
    padding-top: 6px;
  }
}


.ui-autocomplete {
  width: 400px;
  border-radius: 5px;
  list-style-type: none;
  padding: 0;

  li {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
  }

  li.ui-state-focus {
    background: #e1dfe2;
    border-radius: 5px;
    border-style: none;
  }
}

.upload-summary-block {
  float: left;
  width: 33.33%;
  box-sizing: border-box;
  text-align: center;
}

.upload-summary-label {
  font-size: .8em;
}

.hero {
  background: image-url('hero.jpg') no-repeat center center;
  background-size: cover;
  height: 50vh;
  .intro {
    padding: 3rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  h1 {
    color: #ffffff;
    font-size: 1.5rem;
    line-height: 1.5em;
    letter-spacing: -0.025em;
    font-weight: 300;
    text-align: right;
  }
  p {
    color: #ffffff;
    line-height: 1.75em;
    text-align: right;
    margin-bottom: 2rem;
  }
  @media only screen and (min-width: 40.063em) {
    h1 {
      padding-top: 4.5rem;
      text-align: right;
      font-size: 2.5rem;
    }
    p {
      text-align: right;
    }
  }
}

