tbody tr td,
table tr td {
  display: table-cell;
  line-height: 1.125rem;
}

table tr td {
  font-size: 0.875rem;
  text-align: left;
  padding: 0.5625rem 0.625rem;
  margin: 0 auto;
}

th, table tr.even, table tr.alt, table tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

table {
  background-color: white;
  table-layout: auto;
  margin: 0 auto;
}
