<ion-tabs class="tabs-positive tabs-icon-top">

  <ion-tab href="#/dashboard/profile" title="Me" icon-on="ion-ios-person" icon-off="ion-ios-person-outline">
    <ion-nav-view name="profile"></ion-nav-view>
  </ion-tab>

  <ion-tab href="#/dashboard/apartment" title="Apartment" icon-on="ion-ios-home" icon-off="ion-ios-home-outline">
    <ion-nav-view name="apartment"></ion-nav-view>
  </ion-tab>

  <ion-tab href="#/dashboard/team" title="My Team" icon-on="ion-ios-people" icon-off="ion-ios-people-outline">
    <ion-nav-view name="team"></ion-nav-view>
  </ion-tab>

  <ion-tab href="#/dashboard/community" title="Community" icon-on="ion-ios-cloud" icon-off="ion-ios-cloud-outline">
    <ion-nav-view name="community"></ion-nav-view>
  </ion-tab>

</ion-tabs>
