<ion-view view-title="Register">
  <ion-content>
    <form novalidate ng-submit="setupCtrl.createUser(regForm, user)" name="regForm">
      <div class="list card">
        <div class="item item-divider item-icon-left">
          <i class="icon ion-email"></i>
          You
        </div>
        <label class="item item-input">
          <span class="input-label">First name</span>
          <input type="text" name="firstName" ng-model="user.firstName" required>
          <span class="badge badge-assertive" ng-show="regForm.firstName.$touched && regForm.firstName.$error.required">!</span>
        </label>
        <label class="item item-input">
          <span class="input-label">Last Name</span>
          <input type="text" name="lastName" ng-model="user.lastName" required>
          <span class="badge badge-assertive" ng-show="regForm.lastName.$touched && regForm.lastName.$error.required">!</span>
        </label>

        <div class="item item-divider item-icon-left">
          <i class="icon ion-email"></i>
          Sign up with email
        </div>

        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" name="email" ng-model="user.email" required>
          <span class="badge badge-assertive" ng-show="regForm.email.$touched && (regForm.email.$error.required || regForm.email.$error.email)">!</span>
        </label>

        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="user.password" required>
          <span class="badge badge-assertive" ng-show="regForm.password.$touched && regForm.password.$error.required">!</span>
        </label>

        <div class="item item-input">
          <button class="button button-block button-positive icon-right"
                  ng-class="regForm.$invalid ? 'ion-alert' : 'ion-chevron-right'">Submit</button>
        </div>
      </div>
    </form>

    <div class="list card">
      <div class="item item-divider item-icon-left">
        <i class="icon ion-ios-pulse"></i>
        Connect:
      </div>

      <div class="item">
        <button class="button button-positive icon-left">
          <i class="icon ion-social-google"></i>
          Google
        </button>
      </div>
      <div class="item">
        <button class="button button-positive icon-left">
          <i class="icon ion-social-facebook"></i>
          Facebook
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
