<ion-view view-title="Profile">
  <ion-content>
    <div class="list card">
      <div class="item item-avatar">
        <img ng-src="{{ login.user.profileSrc }}">
        <h2>{{ login.user.firstName }}</h2>
        <p>{{ login.team }}</p>
      </div>
      <div class="item">
        <p>
          You're doing well!
        </p>
      </div>

      <div class="item">
        <p>
          (slacker.firstName) is lagging behind!  Peer pressure
          (slacker.objectivePronoun) into being more green, tout de suite!
        </p>
      </div>
  </ion-content>
</ion-view>
