/* Empty. Add your own CSS if you like */
.progress-bar {
    margin: auto;
    padding-top: 50px;
    position: relative;
    text-align: center;
}

.bg-bar {
    border-bottom: 2px solid darkgray;
    margin-left: 10%;
    position: absolute;
    top: 52%;
    width: 80%;
    z-index: -1;
}

.step {
    display: inline-block;
    text-align: center;
    width: 20%;
}

.bubble {
    background-color: white;
    border: 2px solid black;
    border-radius: 12px;
    font-size: large;
    height: 25px;
    margin: auto;
    text-align: center;
    width: 25px;
}

.bubble.current {
    background-color: lightyellow;
}

.bubble.complete {
    background-color: lightgreen;
}

.progress-form {
    height: 500px;
    width: 80%;
}

input.ng-invalid {
    border-bottom: crimson;
}
