<button onclick="nexttip()">Next tip</button>
<script>
  function nexttip() {
  location.reload()
  }
</script>
<div id="tipnum">
<% @tip = Tip.order('RANDOM()').select{ |tip| not current_user.tips.exists?(tip.id) }.first %>
  <strong><%= @tip.text %></strong>
</div>
<%= render 'vote' %>
