<p id="notice"><%= notice %></p>

<p>
  <strong><%= @tip.text %></strong>
</p>
  <strong>Results:</strong>
  Worked: <%= @tip.liked_votes %><br>
  Didn't work: <%= @tip.disliked_votes %><br>
<% render 'share' %>
